.subtitle {
  font-size: 38px;
  text-align: center;
  margin-bottom: 16px;
}

.scatter-title {
  font-size: 20px;
  padding: 35px 48px;
}

.scatter-container {
  background-color: #1E2127;
  width: 493px;
  height: 508px;
  border-radius: 4px;
  margin-right: 35px;
}

.pie {
  background-color: #1E2127;
  width: 493px;
  margin-right: 35px;
  margin-bottom: 38px;
  border-radius: 4px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 14px;
  margin-bottom: 86px;
  margin-left: 31px;
  color: #0376E3;
  font-size: 20px;
  font-weight: 500;
}

.meet-data {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
}  

.top {
  width: 60%;
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.event-list {
  display: flex;
  justify-content: center;
}