.header {
  background-color: #1E2127;
  color: #0376E3 !important;
  font-size: 20px;
  height: 56px;
  padding-left: 31px;
  margin-top: 14px;
}

.title {
  font-size: 38px;
  text-align: center;
}

.scatter-title {
  font-size: 20px;
  padding: 35px 48px;
}

.scatter-container {
  background-color: red;
  width: 493px;
  height: 508px;
}

.event-list {
  width: 600px;
  list-style-type: none !important;
}

.pie {
  background-color: red !important;
  width: 493px;
  margin: 38px 35px;
}

.data-vis-wrapper {
  width: 493px !important;
}
