.input-box {
    border-radius: 4px;
    border: 1px solid grey;
    align-items: center !important;
    display: inline-flex;
    flex-grow: 1;
    height: 48px;
    justify-content: center;
    margin-bottom: 39px;
}

.city {
    color: #828D99;
    background-color: transparent;
    width: 100%;
    font-size: 15px;
}

.search-icon {
    padding: 10px;
}

.CitySearch {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
}