.input-box {
    border-radius: 4px;
    border: 1px solid grey;
    align-items: center !important;
    display: inline-flex;
    flex-grow: 1;
    height: 48px;
    justify-content: center;
    margin-bottom: 39px;
}

.city {
    color: #828D99;
    background-color: transparent;
    width: 100%;
    font-size: 15px;
}

.search-icon {
    padding: 10px;
}

.CitySearch {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
}

.city-main {
    color: #828D99;
    font-size: 12px;
    font-weight: 400px;
}

.city-main {
    font-weight: 400px;
}

.alert {
    font-size: 15px;
    font-weight: 400px;
}

.suggestions {
    border-radius: 4px;
    border: 1px solid grey;
    background-color: #1B1D24;
    font-size: 12px;
    color: #828D99;
}

input:focus, textarea:focus {
    outline: none;
}