.showMore {
    font-size: 15px;
    color: #BEC2CC;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid grey;
    width: 60%;
    height: 36px;
    margin-left: 36px;
    max-width: 400px;
    margin: 0 auto;
    justify-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-info {
    border-bottom: 1px solid grey;
    width: 433px;
    margin-bottom: 30px !important;
    color: #828D99;
    font-size: 13px;
    margin: 0 auto;
}

.EventSummary {
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 5px;
}

.location {
    display: inline-flex;
    align-items: center !important;
}

.loc-icon {
    padding: 5px;
    font-size: 20px;
}

.EventDate {
    font-size: 13px;
    margin-bottom: 5px;
}

.EventList {
    list-style-type: none;
    width: 100%;
    background-color: #1E2127;
    padding-left: 0;
    padding-top: 35px;
    border-radius: 4px;
    padding-bottom: 35px;
    margin-top: 0;
}

.event {
    border-radius: 4px;
    height: 219px;
    background-color: #1B1D24;
    margin: 32px;
    padding: 32px;
}

.EventDetails {
    color: #BEC2CC;
    font-size: 15px;
    font-family: Archivo;
    text-align: left;
    width: 425px;
    margin: 0 auto;
}

.EventSummary-modal {
    color: #FFFFFF;
    font-size: 32px;
    margin-bottom: 5px;
}
