.showMore {
    font-size: 15px;
    color: #BEC2CC;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid grey;
    width: 433px;
    height: 36px;
    margin-left: 36px;
}

.event-info {
    border-bottom: 1px solid grey;
    width: 433px;
    margin-bottom: 30px !important;
    color: #828D99;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 20px;
}

.EventSummary {
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 5px;
}

.location {
    display: inline-flex;
    align-items: center !important;
}

.loc-icon {
    padding: 5px;
    font-size: 20px;
}

.EventDate {
    font-size: 13px;
    margin-bottom: 5px;
}

.EventList {
    list-style-type: none;
    width: 600px;
    background-color: #1E2127;
    padding-left: 0;
    padding-top: 35px;
    border-radius: 4px;
    padding-bottom: 35px;
    margin-top: 0;
}

.event {
    width: 505px;
    border-radius: 4px;
    height: 219px;
    margin: 0 auto;
    background-color: #1B1D24;
    margin-bottom: 34px;
}
