
.modal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    max-width: 600;
    width: 60%;
    overflow: auto;
    background-color: #1E2127;
    border-radius: 4px;
}

.modal-title {
    font-size: 32px;
    font-weight: 500px;
}

.modal-info {
    color: #828D99;
    font-size: 13px;
}

.modal-desc {
    color: #BEC2CC;
    font-size: 15px;
}

.modal-btn {
    background-color: #0093FF;
    border-radius: 4px;
    width: 318px;
    height: 48px;
    border: transparent;
}

.modal-close-btn {
    height: 22px;
    width: 22px;
    background-color: transparent;
    position: absolute;
    right: 17px;
    top: 24px;
    border: none;
    outline: none;
    color: #F5F5F5;
}