.NumberOfEvents {
    font-size: 15px;
    color: #828D99;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    display: flex;
}

.event-number-input {
    background-color: transparent;
    color: #BEC2CC;
    font-size: 15px;
    border: 1px solid grey;
    width: 141px;
    height: 36px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 59px;
}

.event-label {
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}